:root {
  --base-color-blue-20: #ffffff;
  --color-color-light-gray-2: #f9f9f9;
  --color-color-grey-1: #d8d8d8;
  --color-color-light-black: #4a4a4a;
  --color-color-primary-blue: #054af0;
  --base-color-blue-20: #ffffff;
  --color-color-black: #000000; }

@font-face {
  font-family: 'montserrat';
  src: url("/css/fonts/Montserrat-Regular.eot");
  /* IE9 Compat Modes */
  src: url("/css/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/css/fonts/Montserrat-Regular.woff2") format("woff2"), url("/css/fonts/Montserrat-Regular.woff") format("woff"), url("/css/fonts/Montserrat-Regular.ttf") format("truetype"), url("/css/fonts/Montserrat-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'montserrat';
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto; }

.sidenav {
  background-color: var(--base-color-blue-20);
  width: 8rem; }

.main {
  width: 100%;
  border-left: 1px solid var(--color-color-grey-1); }

.header {
  height: 8rem;
  background-color: var(--base-color-blue-20);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid var(--color-color-grey-1); }

.contents {
  padding-left: 30rem;
  padding-right: 30rem;
  padding-top: 4.8rem;
  background-color: var(--color-color-light-gray-2); }

.content {
  margin-bottom: 3.2rem;
  background-color: var(--base-color-blue-20);
  display: flex;
  flex-direction: column;
  padding: 3.2rem 10rem 4.8rem 10rem;
  box-shadow: 0 8px 10px 0 rgba(63, 69, 78, 0.25), 0 0 3px 0 rgba(54, 60, 71, 0.15); }
  .content label {
    line-height: 2.24rem;
    font-size: 1.6rem;
    color: var(--color-color-light-black);
    display: flex;
    flex-direction: column; }

.content1 {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column; }

.notifications {
  margin-right: 3.2rem; }

.company {
  margin-right: .8rem; }

.user-profile {
  margin-right: 4.8rem; }

.content-title {
  font-size: 2.8rem;
  line-height: 1.2;
  color: var(--color-color-light-black);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

.timeline {
  display: flex;
  justify-content: space-around; }

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.8rem;
  position: relative; }
  .step-title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: var(--color-color-light-black); }
  .step-number {
    display: block;
    height: 1.8rem;
    width: 1.8rem;
    background-color: var(--color-color-grey-1);
    border-radius: 100%; }
  .step-bar {
    position: absolute;
    display: block;
    height: 2px;
    width: 87rem;
    top: 4rem;
    left: -36.5rem; }
    .step-bar-1 {
      background-image: linear-gradient(to right, transparent 0%, transparent 50%, var(--color-color-grey-1) 50%, var(--color-color-grey-1) 100%); }
    .step-bar-2 {
      background-image: linear-gradient(to left, transparent 0%, transparent 50%, var(--color-color-grey-1) 50%, var(--color-color-grey-1) 100%); }

.active-step {
  background-color: var(--color-color-primary-blue); }

.form-question {
  line-height: 2.24rem;
  font-size: 1.6rem;
  color: var(--color-color-light-black);
  font-family: 'Lato'; }

.dropdown {
  height: 4.6rem;
  width: 100%;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  border-radius: 3px;
  border: solid 1px var(--color-color-grey-1);
  transition: all .2s;
  outline: none;
  position: relative;
  -moz-appearance: window;
  -webkit-appearance: none;
  padding: 1.3rem;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--color-color-black); }
  .dropdown:hover {
    border: solid 1px var(--color-color-primary-blue); }
  .dropdown::after {
    display: block;
    content: '';
    position: absolute;
    top: .625rem;
    right: .625rem;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background: url(/img/svg/chevron.svg) right/contain no-repeat;
    transition: .2s;
    z-index: 99; }

.label {
  margin-bottom: 3.2rem;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: var(--color-color-light-black); }

.input {
  margin-top: 1.6rem;
  height: 4.6rem;
  outline: none;
  border-radius: 3px;
  border: solid 1px var(--color-color-grey-1);
  transition: all .2s;
  padding: 0 1.6rem;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-color-black); }
  .input:hover {
    border: solid 1px var(--color-color-primary-blue); }

.savebutton {
  display: flex;
  justify-content: center; }
  .savebutton button {
    display: block;
    margin-left: auto;
    padding: 1.3rem;
    width: 18.4rem;
    height: 4.6rem;
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px var(--color-color-primary-blue);
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--color-color-primary-blue);
    transition: all .2s;
    outline: none; }
    .savebutton button:hover {
      color: white;
      background-color: var(--color-color-primary-blue);
      cursor: pointer; }

.uploader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  position: relative; }
  .uploader__logo--btn {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: none;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--color-color-primary-blue);
    top: 150px;
    transform: translateX(20px); }
    .uploader__logo--btn:hover {
      cursor: pointer; }

.or {
  margin: 0 3rem; }

.uploadertext {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-color-light-black); }

.sizechart {
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem; }
  .sizechart__img {
    height: 8rem; }
  .sizechart__addnew {
    display: flex;
    box-sizing: content-box;
    height: 8rem;
    width: 8rem;
    margin-left: 2.7rem;
    border: solid 1px var(--color-color-grey-1);
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px 0 rgba(58, 64, 75, 0.2), 0 0 3px 0 rgba(57, 62, 71, 0.25);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color-color-black);
    cursor: pointer; }
  .sizechart__text {
    font-size: 16px;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color-color-light-black);
    margin-bottom: 2.4rem; }

.chartnote {
  height: 12px;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #979797; }

.physicalsample__text {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-color-light-black);
  margin-bottom: 1.6rem; }

.physicalsample__dots {
  padding-left: 2.5rem; }

.physicalsample__dot {
  cursor: pointer;
  height: 1.1rem;
  width: 1.1rem;
  margin: 0 0.5rem;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.2s;
  margin-bottom: 6.8rem;
  margin-right: 6rem;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  border-radius: 50%;
  border: 1.5px solid var(--color-color-light-black);
  padding: 1rem; }
  .physicalsample__dot:active {
    transform: scale(1); }
  .physicalsample__dot::after {
    content: "";
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1.5px solid var(--color-color-primary-blue);
    transform: translate(-22%, -22%);
    opacity: 0;
    transition: all 0.2s; }
  .physicalsample__dot.active::after {
    opacity: 1; }

.coverimage__uploader {
  height: 34rem;
  width: 34rem;
  margin-bottom: 1.6rem; }

.coverimage__button {
  display: flex;
  justify-content: center;
  margin-bottom: 4.7rem; }
  .coverimage__button button {
    display: block;
    margin-right: auto;
    padding: 1.3rem;
    width: 34rem;
    height: 4.6rem;
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px var(--color-color-black);
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--color-color-black);
    transition: all .2s;
    outline: none; }
    .coverimage__button button:hover {
      color: white;
      background-color: var(--color-color-black);
      cursor: pointer; }

.coverimage__text {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: var(--color-color-light-black);
  margin-bottom: 1.3rem; }

.menu {
  padding-top: 20.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .menu__item {
    border: none;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid transparent;
    transition: all .2s; }
    .menu__item:hover {
      border-left: 3px solid #054af0;
      color: transparent;
      background-color: rgba(5, 74, 240, 0.1);
      cursor: pointer; }

.settings {
  display: flex;
  flex-direction: column;
  align-items: center; }

.separator {
  display: block;
  height: 1px;
  background-color: var(--color-color-grey-1);
  width: 7rem;
  margin: 1.6rem 0;
  margin-left: 1rem; }

#activeitem {
  border-left: 3px solid #054af0;
  color: transparent;
  background-color: rgba(5, 74, 240, 0.1); }

#inactive {
  opacity: 0.6;
  box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.25), 0 0 3px 0 rgba(102, 102, 102, 0.24); }

.navitoggle {
  width: 2rem;
  height: 2rem;
  background-color: white;
  position: absolute;
  top: 3rem;
  left: 12rem;
  z-index: 10;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all .2s; }
  .navitoggle__item {
    content: "";
    width: 2rem;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all .2s;
    display: inline-block;
    background-color: gray; }
    .navitoggle__item::before, .navitoggle__item::after {
      content: "";
      width: 2rem;
      height: 2px;
      position: absolute;
      left: 0;
      transition: all .2s;
      display: inline-block;
      background-color: gray; }
    .navitoggle__item::before {
      transform: translateY(1.2rem); }
    .navitoggle__item::after {
      transform: translateY(0.6rem); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input::-webkit-input-placeholder {
  color: var(--color-color-grey-1); }

.form__radio-group {
  display: inline-block; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
  margin-right: 3.4rem;
  margin-bottom: 6.8rem; }

.form__radio-input {
  display: none; }

.form__radio-button {
  height: 1.6rem;
  width: 1.6rem;
  border: 1px solid var(--color-color-light-black);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: .1rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    position: absolute;
    border: 3px solid var(--color-color-primary-blue);
    top: 50%;
    left: 50%;
    transform: translate(-48%, -50%);
    opacity: 0;
    transition: all .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form article {
  display: block;
  overflow: hidden;
  color: black; }

.form article p {
  color: var(--color-color-primary-blue);
  font-size: 1.4rem; }

.form input:checked ~ article {
  height: auto;
  opacity: 1; }
