.notifications {
    margin-right: 3.2rem;
}

.company {
    margin-right: .8rem;
}

.user-profile  {
    margin-right: 4.8rem;
}

.content-title {
    font-size: 2.8rem;
    line-height: 1.2;
    color: var(--color-color-light-black);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    //font-family: Lato;
}

.timeline {
    display: flex;
    justify-content: space-around;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.8rem;
    position: relative;

    &-title {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        color: var(--color-color-light-black);
    }

    &-number {
        display: block;
        height: 1.8rem;
        width: 1.8rem;
        background-color: var(--color-color-grey-1);
        border-radius: 100%;
        
    }

    &-bar {
        position: absolute;
        display: block;        
        //background-color: var(--color-color-grey-1);
        height: 2px;
        width: 87rem;
        top: 4rem; 
        left: -36.5rem;
    

        &-1 {
            background-image: linear-gradient(to right,
                                    transparent 0%,
                                    transparent 50%,
                                    var(--color-color-grey-1) 50%,
                                    var(--color-color-grey-1) 100%);
        }

        &-2 {
            background-image: linear-gradient(to left,
                                    transparent 0%,
                                    transparent 50%,
                                    var(--color-color-grey-1) 50%,
                                    var(--color-color-grey-1) 100%);
        }
    }
}

.active-step {
    background-color: var(--color-color-primary-blue);
}


.form {

    &-question {
        line-height: 2.24rem;
        font-size: 1.6rem;
        color: var(--color-color-light-black);
        font-family: 'Lato';
    }
}

.dropdown {
    height: 4.6rem;
    width: 100%;
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
    border-radius: 3px;
    border: solid 1px var(--color-color-grey-1);
    transition: all .2s;
    outline: none;
    position: relative;
    -moz-appearance: window;
    -webkit-appearance: none;
    padding: 1.3rem;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--color-color-black);

    
    

    &:hover {
        border: solid 1px var(--color-color-primary-blue);  
    }

    &::after {
        display: block;
        content: '';
        position: absolute;
        top: .625rem;
        right: .625rem;
        width: 1.5rem;
        height: 1.5rem;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        background: url(/img/svg/chevron.svg) right/contain no-repeat;   
        transition: .2s;
        z-index: 99;
    }

    &__option {        

        
    }
}


.label {
    margin-bottom: 3.2rem;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: var(--color-color-light-black);
}

.input {
    margin-top: 1.6rem;
    height: 4.6rem;
    outline: none;
    border-radius: 3px;
    border: solid 1px var(--color-color-grey-1);
    transition: all .2s;
    padding: 0 1.6rem;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color-color-black);

    &:hover {
        border: solid 1px var(--color-color-primary-blue);  
    }
}

.savebutton {
    display: flex;
    justify-content: center;

    & button {
        display: block;
        margin-left: auto;
        padding: 1.3rem;
        width: 18.4rem;
        height: 4.6rem;
        background-color: transparent;
        border-radius: 5px;
        border: solid 1px var(--color-color-primary-blue);
        font-family: Lato;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: var(--color-color-primary-blue);
        transition: all .2s;
        outline: none;

        &:hover {
            color: white;
            background-color: var(--color-color-primary-blue);
            cursor: pointer;

        }
    }


}

.uploader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
    position: relative;


    &__logo {

        &--btn {
            position: absolute;
            border: none;
            background-color: transparent;
            outline: none;
            font-family: Lato;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: var(--color-color-primary-blue);
            top: 150px;
            //left: 20px;
            transform: translateX(20px);

            &:hover {
                cursor: pointer;
            }
        }
    }
}


.or {
    margin: 0 3rem;
}

.uploadertext {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color-color-light-black);
}


.sizechart {
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;

    &__img {
        height: 8rem;
    }

    &__addnew {
        display: flex;
        box-sizing: content-box;
        height: 8rem;
        width: 8rem;
        margin-left: 2.7rem;
        border: solid 1px var(--color-color-grey-1);
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 6px 0 rgba(58, 64, 75, 0.2), 0 0 3px 0 rgba(57, 62, 71, 0.25);
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--color-color-black);
        cursor: pointer;
    }

    &__text {
        font-size: 16px;
        font-family: 'Lato';
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--color-color-light-black);
        margin-bottom: 2.4rem;
    }
}



.chartnote {
    height: 12px;
    font-family: Lato;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #979797;
}

.physicalsample {

    &__text {
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--color-color-light-black);
        margin-bottom: 1.6rem;
    }

    &__dots {
        padding-left: 2.5rem;
    }

    &__dot {
        cursor: pointer;
        height: 1.1rem;
        width: 1.1rem;
        margin: 0 0.5rem;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        transition: all 0.2s;
        margin-bottom: 6.8rem;
        margin-right: 6rem;
        //background-color: transparent;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        border-radius: 50%;
        border: 1.5px solid var(--color-color-light-black);
        //transform: translate(-22%, -22%);
        padding: 1rem;
        
        
        //opacity: 0;

        &:hover {
           // transform: scale(1.2);
          }
      
          &:active {
            transform: scale(1);
          }
      
          &::after {
            content: "";
            display: block;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            border: 1.5px solid var(--color-color-primary-blue);
            transform: translate(-22%, -22%);
            opacity: 0;
            transition: all 0.2s;
          }
      
          &.active {
            &::after {
              opacity: 1;
            }
          }
    }
}

.coverimage {

    &__uploader {
        height: 34rem;
        width: 34rem;
        margin-bottom: 1.6rem;
    }

    &__button {        
        display: flex;
        justify-content: center;
        margin-bottom: 4.7rem;
    
        & button {
            display: block;
            margin-right: auto;
            padding: 1.3rem;
            width: 34rem;
            height: 4.6rem;
            background-color: transparent;
            border-radius: 5px;
            border: solid 1px var(--color-color-black);
            font-family: Lato;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: var(--color-color-black);
            transition: all .2s;
            outline: none;
    
            &:hover {
                color: white;
                background-color: var(--color-color-black);
                cursor: pointer;
    
            }
        }
        
        
        
    }

    &__text {
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        //line-height: 22.4;
        letter-spacing: normal;
        color: var(--color-color-light-black);
        margin-bottom: 1.3rem;
    }
}

.menu {
    padding-top: 20.5rem;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

    &__item {
        border: none;
        //margin-bottom: 4.8rem;
        width: 8rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center; 
        border-left: 3px solid transparent;
        transition: all .2s;
        
        &:hover {
            border-left: 3px solid #054af0;
            color: transparent;
            background-color: rgba(5, 74, 240, 0.1);
            cursor: pointer;
        }
    }


}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator {
    display: block;    
    height: 1px;
    background-color: var(--color-color-grey-1);
    width: 7rem;
    margin: 1.6rem 0;
    margin-left: 1rem;

}

#activeitem {
    border-left: 3px solid #054af0;
    color: transparent;
    background-color: rgba(5, 74, 240, 0.1);
    // opacity: 0.1;
}


#inactive {
    opacity: 0.6;
    box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.25), 0 0 3px 0 rgba(102, 102, 102, 0.24);
}



.navitoggle {

    width: 2rem;
    height: 2rem;
    background-color: white;
    position: absolute;
    top: 3rem;
    left: 12rem;
    z-index: 10;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: all .2s;

    &__item {
        content: "";
        width: 2rem;
        height: 2px;
        position: absolute;
        left: 0;
        transition: all .2s;
        display: inline-block;
        background-color: gray;

        &::before, &::after {
            content: "";
            width: 2rem;
            height: 2px;
            position: absolute;
            left: 0;
            transition: all .2s;
            display: inline-block;
            background-color: gray;
        }

        &::before {
            transform: translateY(1.2rem)
        }

        &::after {
            transform: translateY(.6rem)
        }
    }
}

.form {

    &__group:not(:last-child) {
      margin-bottom: 2rem;
  
    }
  
    &__input {
      
      &::-webkit-input-placeholder {
        color: var(--color-color-grey-1);
      }
    }  
    
    &__radio-group {
      display: inline-block;
    }
  
    &__radio-label {
      font-size: 1.6rem;
      cursor: pointer;
      position: relative;
      padding-left: 3rem;
      margin-right: 3.4rem;
      margin-bottom: 6.8rem;
  
    }
  
    &__radio-input {
      display: none;
    }
  
    &__radio-button {
      height: 1.6rem;
      width: 1.6rem;
      border: 1px solid var(--color-color-light-black);
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: 0;
      top: .1rem;
      
  
      &::after {
        content: "";
        display: block;
        height: 1.6rem;
        width: 1.6rem;
        border-radius: 50%;
        position: absolute;
        border: 3px solid var(--color-color-primary-blue);
        top: 50%;
        left: 50%;
        transform: translate(-48%, -50%);
        //background-color: green;
        opacity: 0;
        transition: all .2s;
      }
        
    }
  
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

    & article {
        
        //background: white;
        display: block;
        //height: 0;
        overflow: hidden;
        color: black;
        //z-index: 10;
        //opacity: 0;
    }

    & article p {
        color: var(--color-color-primary-blue);
        font-size: 1.4rem;
    }

    & input:checked ~ article {
        height: auto;
        //z-index: 99;
        opacity: 1;
      }
  
  }

//   .expand-toggle {
//     //display: none;
//   }
  
//   /* Hide expandable content by default */
//   .expandable {
//     visibility: collapse;
//     background: #ddd;
//   }
  
    
//   /* Show hidden content when the checkbox is checked */
//   .expand-toggle:checked ~  .expandable {
//     visibility: visible;
//   }
