.container { 
    display: flex;
    flex-direction: row;
    //max-width: 144rem;
    //height: 50rem;
    //width: 50rem;
    margin: 0 auto;
    //background-color: $color-primary;
}

.sidenav {
    background-color: var(--base-color-blue-20);
    width: 8rem;
}

.main {
    //background-color: blue;
    width: 100%;
    //padding-left: 11rem;
    border-left: 1px solid var(--color-color-grey-1);
}

.header {
    height: 8rem;
    background-color: var(--base-color-blue-20);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    //margin-bottom: 4.8rem;
    border-bottom: 1px solid var(--color-color-grey-1);
}

.contents {
    padding-left: 30rem;
    padding-right: 30rem;
    padding-top: 4.8rem;
    background-color: var(--color-color-light-gray-2);
}
.content {
    margin-bottom: 3.2rem;
    background-color: var(--base-color-blue-20);
    display: flex;
    flex-direction: column;
    padding: 3.2rem 10rem 4.8rem 10rem;
    box-shadow: 0 8px 10px 0 rgba(63, 69, 78, 0.25), 0 0 3px 0 rgba(54, 60, 71, 0.15);

    & label {
        line-height: 2.24rem;
        font-size: 1.6rem;
        color: var(--color-color-light-black);
        display: flex;
        flex-direction: column;
    }

}

.content1 {
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
}