:root {
    --base-color-blue-20: #ffffff;
    --color-color-light-gray-2: #f9f9f9;
    --color-color-grey-1: #d8d8d8;
    --color-color-light-black: #4a4a4a;
    --color-color-primary-blue: #054af0;
    --base-color-blue-20: #ffffff;
    --color-color-black: #000000;
}